<h1>New lesson member</h1>
<%= form_with(
    scope: @lesson_member,
    url: lesson_members_path(@lesson_id),
    method: 'post'
  ) do |form| %>
  <% if @lesson_member.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@lesson_member.errors.count, "error") %> prohibited this lesson member from being saved:</h2>

      <ul>
        <% @lesson_member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :student, style: "display: block" %>
    <%= form.select :student_id, students_select(lesson_id: @lesson_id, lesson_member: @lesson_member) %>
  </div>

  <%= form.hidden_field :lesson_id, value: @lesson_id %>

  <div>
    <%= form.submit "Add student to lesson" %>
  </div>
<% end %>

<%= link_to "Back to lesson", lesson_path(@lesson_id) %>
