<div class="student-contacts">
  <h2>Contacts</h2>
  <% if student.contacts %>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Relation</td>
          <td>Primary</td>
          <td>Invoice payer</td>
        </tr>
      </thead>
      <tbody>
        <% student.student_contacts.each_with_index do |student_contact, i| %>
          <tr>
            <td><%= link_to_contact_of_student_contact(student_contact) %></td>
            <td><%= student_contact.contact_relation %></td>
            <td><%= student_contact.primary_contact ? '✅' : '❌' %></td>
            <td><%= student_contact.account_holder ? '✅' : '❌' %></td>
            <td>
              <%= link_to 'edit relationship',
                  edit_contact_relationship_path(
                    student_id: student_contact.student_id,
                    contact_id: student_contact.contact_id
                  ) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No contacts yet</p>
  <% end %>
  <%= link_to "Add contact for #{student}", new_contact_relationship_path(@student) %>
</div>
<!--   
-> Is it required that a student have a primary contact? Yes. Its not important. Just useful for us.
  ->> 'student_contacts.primary_contact', 'contacts.first_name' Primary contact first <<-
 
 -->