<div id="<%= dom_id student %>">
  <p>
    <strong>Preferred name:</strong>
    <%= student.preferred_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= student.birthday %>
  </p>

  <p>
    <strong>Year group:</strong>
    <%= student.year_group %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= student.gender %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= student.region_id %>
  </p>

</div>
