<div id="<%= dom_id student %>">
  <% if student.preferred_name && student.preferred_name.length > 0 %>
    <p>
      <strong>Preferred name:</strong>
      <%= student.preferred_name %>
    </p>
  <% end %>

  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Instrument:</strong>
    <%= student.keyboard %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= student.birthday %>
  </p>

  <p>
    <strong>Year group:</strong>
    <%= student.year_group %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= student.gender %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= student.region.name %>
  </p>
</div>
