<h1><%= @student %></h1>
<div class="show-instance show-student row">
  <div class="col">
    <%= render partial: 'layouts/instance_details', locals: { instance: @student } %>

    <div>
      <%= link_to "Edit this student", edit_student_path(@student) %>
      <%= link_to "Back to students", students_path %>

      <%= button_to "Destroy this student", @student, method: :delete %>
    </div>
  </div>
  <div class="col">
    <h2>Lessons</h2>
    <%= render partial: 'student_contacts', locals: { student: @student } %>
  </div>
</div>