<div id="<%= dom_id tutor %>">
  <p>
    <strong>Preferred name:</strong>
    <%= tutor.preferred_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= tutor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= tutor.last_name %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= tutor.email_address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= tutor.phone_number %>
  </p>

  <p>
    <strong>Delivery address:</strong>
    <%= tutor.delivery_address %>
  </p>

</div>
