<h1>Tutors</h1>

<div id="tutors" class="horizontal-list-set">
  <% @tutors.each do |tutor| %>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><%= preferred_name_if_present(tutor) %></li>
      <li class="list-group-item"><%= tutor.email_address %></li>
      <li class="list-group-item"><%= tutor.phone_number %></li>
      <li class="list-group-item">
        <%= link_to "more details", tutor %>
      </li>
    </ul>
  <% end %>
</div>

<%= link_to "New tutor", new_tutor_path %>
