<%= form_with(model: keyboard_student) do |form| %>
  <% if keyboard_student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(keyboard_student.errors.count, "error") %> prohibited this keyboard_student from being saved:</h2>

      <ul>
        <% keyboard_student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'students/form_inputs', form: form, student: keyboard_student %>

  <div>
    <%= form.label :instrument, style: "display: block" %>
    <%= form.text_field keyboard_select(keyboard_student) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
