<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being made:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :students_attributes do |student| %>
    <div>
      <%= student.label "Student first name", style: "display: block" %>
      <%= student.text_field :first_name %>
    </div>

    <div>
      <%= student.label "Student last name", style: "display: block" %>
      <%= student.text_field :last_name %>
    </div>

    <div>
      <%= student.label "Student age", style: "display: block" %>
      <%= student.number_field :age, in: 4..120, step: 1 %>
    </div>

    <%= student.hidden_field :region_id, value: @region_id %>
  <% end %>

  <%= form.fields_for :contact_attributes do |contact| %>
    <div>
      <%= contact.label "Caregiver first name", style: "display: block" %>
      <%= contact.text_field :first_name %>
    </div>

    <div>
      <%= contact.label "Caregiver last name", style: "display: block" %>
      <%= contact.text_field :last_name %>
    </div>

    <div>
      <%= contact.label "Caregiver email address", style: "display: block" %>
      <%= contact.text_field :email_address %>
    </div>

    <div>
      <%= contact.label "Caregiver phone number", style: "display: block" %>
      <%= contact.text_field :phone_number %>
    </div>

    <%= contact.hidden_field :region_id, value: @region_id %>
  <% end %>

  <div>
    <%= form.label "Anything else you'd like to add?", style: "display: block" %>
    <%= form.text_area :additional_details, size: "70x5" %>
  </div>

  <%= form.hidden_field :lesson_id, value: @lesson_id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
