<h1>Lessons</h1>

<div id="lesson-booker">
  <% @lesson_schedule.each_pair do |venue, days| %>
    <h2><%= venue %></h2>
      <% days.each_pair do |day, lessons| %>
        <h3><%= day %></h3>
        <table class="ms-3 table">
          <tbody>
            <% lessons.each do |lesson| %>
              <% if lesson.availability > 0 %>
                <tr>
                  <td class="rounded-start-pill" scope="row"><%= display_lesson_time_range(lesson) %></td>
                  <td>
                    <%= lesson.availability %>
                    <%= "availability".pluralize(lesson.availability) %>
                  </td>
                  <td>
                    <%= button_to "Book now", new_booking_path(lesson), method: :get %>
                  </td>
                </tr>
              <% else %>
                <tr>
                  <td class="rounded-start-pill"  scope="row"><%=  display_lesson_time_range(lesson) %></td>
                  <td>
                    No availabilities
                  </td>
                  <td>
                    <%= button_to "Join waitlist", new_waiting_list_entry_path(lesson), method: :get %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
  <% end %>
</div>
