<h1><%= @venue %></h1>
<div class="show-instance row">
  <div class="col">
    <%= render partial: 'layouts/instance_details', locals: { instance: @venue } %>
  
    <div>
      <%= link_to "Edit this venue", edit_venue_path(@venue) %> |
      <%= link_to "Back to venues", venues_path %>

      <%= button_to "Destroy this venue", @venue, method: :delete %>
    </div>
  </div>
</div>