<div id="<%= dom_id contact %>">
  <p>
    <strong>Entity:</strong>
    <%= contact.entity_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= contact.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= contact.last_name %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= contact.full_name %>
  </p>

  <p>
    <strong>Preferred name:</strong>
    <%= contact.preferred_name %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= contact.email_address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= contact.phone_number %>
  </p>

  <p>
    <strong>Bank account:</strong>
    <%= contact.bank_account %>
  </p>

  <p>
    <strong>Csc number:</strong>
    <%= contact.csc_number %>
  </p>

  <p>
    <strong>Valid until:</strong>
    <%= contact.valid_until %>
  </p>

</div>
