<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :entity_id, style: "display: block" %>
    <%= form.number_field :entity_id %>
  </div>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :full_name, style: "display: block" %>
    <%= form.text_field :full_name %>
  </div>

  <div>
    <%= form.label :preferred_name, style: "display: block" %>
    <%= form.text_field :preferred_name %>
  </div>

  <div>
    <%= form.label :email_address, style: "display: block" %>
    <%= form.text_field :email_address %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :bank_account, style: "display: block" %>
    <%= form.text_field :bank_account %>
  </div>

  <div>
    <%= form.label :csc_number, style: "display: block" %>
    <%= form.text_field :csc_number %>
  </div>

  <div>
    <%= form.label :valid_until, style: "display: block" %>
    <%= form.datetime_field :valid_until %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
