<h1><%= @contact %></h1>
<div class="show-instance row">
  <div class="col">
    <%= render partial: 'layouts/instance_details', locals: { instance: @contact } %>

    <div>
      <%= link_to "Edit this contact", edit_contact_path(@contact) %> |
      <%= link_to "Back to contacts", contacts_path %>

      <%= button_to "Destroy this contact", @contact, method: :delete %>
    </div>
  </div>
</div>
