<h1>Edit '<%= @student_contact.contact %>' contact relationship with <%= @student %></h1>
<%= form_with(
    scope: @student_contact,
    url: contact_relationship_path(
      student_id: @student_contact.student_id,
      contact_id: @student_contact.contact_id,
    ),
    method: 'patch'
  ) do |form| %>
  <% if @student_contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@student_contact.errors.count, "error") %> prohibited this contact relationship from being updated:</h2>

      <ul>
        <% @student_contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :relationship, style: "display: block" %>
    <%= form.text_field :contact_relation %>
  </div>

  <div>
    <%= form.label "Primary contact for #{@student}?", style: "display: block" %>
    <%= form.select :primary_contact, boolean_select(@student_contact, boolean_for: :primary_contact) %>
  </div>

  <div>
    <%= form.label "Invoice payer for #{@student}?", style: "display: block" %>
    <%= form.select :account_holder, boolean_select(@student_contact, boolean_for: :account_holder) %>
  </div>

  <%= form.hidden_field :contact_id, value: @student_contact.contact_id %>
  <%= form.hidden_field :student_id, value: @student.id %>

  <div>
    <%= form.submit "Update contact relationship" %>
  </div>
<% end %>

<%= link_to "Back to student", student_path(@student) %>

<%= button_to "Remove contact relationship",
              contact_relationship_path(
                student_id: @student_contact.student_id,
                contact_id: @student_contact.contact_id,
              ),
              method: :delete %>
