<%= form_with(model: lesson) do |form| %>
  <% if lesson.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :tutor_id, style: "display: block" %>
    <%= form.select :tutor_id, (@tutors.map do |tutor|
          [tutor.preferred_name, tutor.id]
        end) %>
  </div>

  <div>
    <%= form.label :venue_id, style: "display: block" %>
    <%= form.select :venue_id, (@venues.map do |venue|
          [venue.name, venue.id]
        end) %>
  </div>

  <div>
    <%= form.label :day, style: "display: block" %>
    <%= form.select :week_day_index,
        (Date::DAYNAMES.map.with_index do |day, index|
          [day, index]
        end) %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.time_field :start_time, value: "15:30:00" %>
  </div>

  <div>
    <%= form.label :capacity, style: "display: block" %>
    <%= form.number_field :capacity, in: 1..6, value: 4 %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration, in: 10..90, value: 30 %>
  </div>

  <div>
    <%= form.label :standard_price, style: "display: block" %>
    <%= form.number_field :standard_price, in: 1.0..50.0, step: 0.5, value: 16.5 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
