<div id="<%= dom_id lesson %>">
  <p>
    <strong>Tutor:</strong>
    <%= lesson.tutor_id %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= lesson.venue_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= lesson.day %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= lesson.start_time %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= lesson.capacity %>
  </p>

  <p>
    <strong>Standard price:</strong>
    <%= lesson.standard_price %>
  </p>

</div>
