<div id="<%= dom_id lesson %>">
  <p>
    <strong>Tutor:</strong>
    <%= lesson.tutor.preferred_name %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= lesson.venue.name %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= lesson.day %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= display_start_time(lesson) %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= lesson.capacity %>
  </p>

  <p>
    <strong>Standard price:</strong>
    <%= number_to_currency(lesson.standard_price) %>
  </p>

</div>
