<p style="color: green"><%= notice %></p>

<h1>Lessons</h1>

<div id="lessons">
  <% @lesson_schedule.each_pair do |venue, days| %>
    <h2><%= venue %></h2>
      <% days.each_pair do |day, lessons| %>
        <h3><%= day %></h3>
        <table class="ms-3 table">
          <tbody>
            <% lessons.each do |lesson| %>
              <% if lesson.availability > 0 %>
                <tr>
                  <td class="rounded-start-pill" scope="row"><%= display_start_time(lesson) %></td>
                  <td>
                    <%= lesson.availability %>
                    <%= "availability".pluralize(lesson.availability) %>
                  </td>
                  <td>
                    <%= button_to "Book now", "/lessons/#{lesson.id}/waitlist" %>
                  </td>
                </tr>
              <% else %>
                <tr>
                  <td class="rounded-start-pill"  scope="row"><%= display_start_time(lesson) %></td>
                  <td>
                    No availabilities
                  </td>
                  <td>
                    <%= button_to "Join waitlist", "/lessons/#{lesson.id}/booking_page" %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
  <% end %>
</div>
